*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
}
.big_wrapper{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    margin-bottom: 0px;
}
.top_menu{
    backdrop-filter: blur(5px);
    border-radius: 25px;
    border: 1px solid red;
    margin: 10px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav_link{
    flex: 1;
    text-align: right;
}
.nav_link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    position: relative;
}
.nav_link ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav_link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_link ul li:hover::after{
    width: 100%;
}
#my{
    color: red;
}
h1{
    color: white;
}
#title{
    font: 2em sans-serif;
    -webkit-box-flex: 1;
    padding-left: 20px;
}
.yee{
    text-align: center;
}
h2{
    color: white;
    font: 5em sans-serif;
    padding-top: 200px;
}
#text{
    color: white;
    font: 2em sans-serif;
    padding-top: 10px;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid red;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(11),
        cursor .4s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor{
    50% { border-color: transparent }
}

/* typing effect */
@keyframes typing{
    from {width: 0; }
}
.container{
    display: inline-block;
}
.hero-btn{
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
}
.hero-btn:hover{
    border: 1px solid white;
    background: red;
    transition: 1s;
}
.yee2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
